[Unit]
Description=extFilter is a daemon for filtering traffic using DPDK
Requires=network.target
After=igb_uio_module.service dpdk-devbind.service

[Service]
Type=forking
ExecStart=/usr/local/bin/extFilter --daemon --pidfile=/var/run/extFilter.pid --config-file /usr/local/etc/extfilter.ini
PIDFile=/var/run/extFilter.pid
ExecReload=/bin/kill -HUP $MAINPID
Nice=-5

[Install]
WantedBy=multi-user.target
